<%= form_with model: @resouce_object, builder: CustomFormBuilder, remote: true, local: false do |form| %>
  <h2 class="heading heading-2">red carpet / press booking</h2>

  <div class="exp-form d-flex justify-content-between">
    <%= form.bbr_text_field :user_name, :name, class: 'text-field control-dark-border', placeholder: 'Enter your full name' %>

    <%= form.bbr_email_field :user_email, :email, class: 'text-field control-dark-border', placeholder: 'Enter your email address' %>

    <div class="field-lg width-full">
      <%= form.bbr_text_field :booking_for, 'Person you are booking for', {class: 'text-field control-dark-border', placeholder: 'Enter full name of the person you booking for'}, '*This help us with the booking, talent will remain anonymous' %>
    </div>

    <%= form.bbr_text_field :date, :date, value: @resouce_object.date&.strftime("%m/%d/%Y"), class: 'text-field control-dark-border', placeholder: 'MM/DD/YYYY' %>

    <div class="card-control-width">
      <%= form.bbr_select :time, :time, options_for_select(avaiable_time_options, @resouce_object.time&.strftime("%I:%M %p")), {prompt: 'HH:MM'}, class: 'select' %>
    </div>

    <div class="field-lg width-full">
      <%= form.bbr_text_field :location, :location, class: 'text-field control-dark-border', placeholder: 'Enter location' %>
    </div>

    <%= form.bbr_select :services, :services, options_for_select(@resource_class.service_types), {}, multiple: true, class: 'multi-select' %>

    <div class="field-lg width-full">
      <%= form.bbr_text_field :budget, :budget, class: 'text-field control-dark-border', placeholder: 'Enter your budget' %>
    </div>

    <%= form.bbr_submit 'Book Service', id: 'm-card-btn', class: 'btn btn-primary', data: {disable_with: 'processing...'} %>
  </div>

<% end %>

<script>
  $('#booking_date').flatpickr({
    dateFormat: "m/d/Y"
  });

  $('.multi-select').multiselect({
    placeholder: 'Select a service'
  });

  $('#booking_time').customSelectMenu();
</script>
