<section>
  <div class="hero-image">
    <div class="container">
      <h1 class="heading heading-1 txt-primary">
        BBR SUPPORT
      </h1>
      <div class="col-47">
        <p class="paragraph txt-white">Welcome to the BBR Support Portal</p>
        <p class="paragraph txt-white">
          Helping you build out diverse and inclusive beauty experiences for all your production needs.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="d-flex justify-content-center">
      <%= render 'home/partials/link_card',
        link_path: new_project_support_path,
        image: {src: 'card-img-1.jpg', alt: 'SUPPORT FOR A PROJECT'},
        heading: 'SUPPORT FOR A PROJECT',
        text: "Looking to hire diverse hair and makeup talent for an upcoming project but don't know where to start? Reach out to our support team to connect you with a directory of talented beauty professionals.",
        text_class: 'font-14'
      %>

      <%= render 'home/partials/link_card',
          link_path: new_booking_path,
          image: {src: 'card-img-red.jpg', alt: 'Red carpet / press booking'},
          heading: 'RED CARPET/PRESS BOOKINGS',
          text: "Book qualified artists for talent's off-set hair and makeup needs"
      %>

      <%= render 'home/partials/link_card',
        link_path: new_experience_path,
        image: {src: 'card-img-experience.jpg', alt: 'share an experience'},
        heading: 'SHARE AN EXPERIENCE',
        text: "An impactful and anonymous way to share your hair and makeup experiences. Your feedback can help to inform the industry on how it can improve for the better."
      %>

      <%= render 'home/partials/link_card',
        link_path: faqs_path,
        image: {src: 'image-card-4.jpg', alt: 'Tips & faq'},
        heading: 'TIPS & FAQ',
        text: 'An excellent resource with insights on how to better advocate for POC talent and beauty professionals as well as answers to commonly asked questions.'
      %>

      <div class="image-card">
        <%= link_to '', data: {toggle: 'modal', target: '#questions-modal' } do %>
          <div class="image-placeholder">
            <%= image_tag 'image-card-5.jpg', alt: 'image-card-5.jpg' %>
          </div>

          <div class="image-card-content">
            <p class="heading heading-3 txt-white">QUESTIONS</p>
            <p class="txt-white">
              Have a specific question or would like to speak more with our team of trained beauty advocates? Submit your question or schedule a time to chat.
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render "shared/have_question" %>
