<% booking = @model_object %>
<h3>Red carpet / press booking</h3>

<table>
  <tr>
    <td>Name</td>
    <td><%= booking.user_name %></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><%= booking.user_email %></td>
  </tr>

  <tr>
    <td>Person you are booking for</td>
    <td><%= booking.booking_for %></td>
  </tr>

  <tr>
    <td>Date</td>
    <td><%= booking.date&.strftime("%m/%d/%Y") %></td>
  </tr>

  <tr>
    <td>Time</td>
    <td><%= booking.time&.strftime("%I:%M %p") %></td>
  </tr>

  <tr>
    <td>Location</td>
    <td><%= booking.location %></td>
  </tr>

  <tr>
    <td>Services</td>
    <td><%= booking.services.join(', ') %></td>
  </tr>

  <tr>
    <td>Budget</td>
    <td><%= booking.budget %></td>
  </tr>
</table>
