<%= form_with model: @resouce_object, builder: CustomFormBuilder, remote: true, local: false do |form| %>
  <div class="exp-form d-flex justify-content-between">

    <%= form.bbr_text_field :user_name, :name, class: 'text-field control-light-border', placeholder: 'Enter your full name' %>

    <%= form.bbr_email_field :user_email, :email, class: 'text-field control-light-border', placeholder: 'Enter your email address' %>

    <%= form.bbr_text_field :date, 'date of the experience', class: 'text-field control-light-border datepicker', placeholder: 'DD/MM/YYYY' %>

    <%= form.bbr_text_area :experience, :experience, class: 'textarea control-light-border width-full', placeholder: 'Share your experience', rows: '7' %>

    <%= form.bbr_submit 'Share experience', id: 'm-card-btn', class: 'btn btn-primary margin-auto', data: {disable_with: 'processing...'} %>
  </div>
<% end %>

<script>
  $('#experience_date').flatpickr();
</script>
